{% extends "extends/base.html" %}
{% include 'extends/navbar.html' %}
{% block title %}
Address | Amazon
{% endblock title %}
{% block content %}
<div class="container" style="min-height: 639px;">
    <form action="{% url 'add_address' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 mt-4">
                <h4 style="color:var(--pri);" id="cart-item-head">New Address <div class="float-end" style="font-size: 80%;margin-top: 8px;"><a href="{% url 'address' %}" style="color: var(--head);">Back <i class="fa fa-arrow-left" style="font-size: 80%;" aria-hidden="true"></i></a></div></h4>
                <hr>
                <div class="row">
                    <div class="col-md-5" style="display: flex;justify-content: center;align-items: center;margin-bottom: 1rem;"> 
                        <div>
                            <img src="https://cdn-icons-png.flaticon.com/512/4820/4820122.png"
                                style="height: 55vh;width:100%;" alt="">
                        </div>      
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 ">
                                <label for="">Title/Shortcut Name</label>
                                <input type="text" name="address_head" class="form-control"
                                    placeholder="Enter Title Name" required>
                            </div>
                            <div class="col-md-6" style="margin-top: 1.8%;">
                                <label for="">First Name</label>
                                <input type="text" name="fname" class="form-control" placeholder="Enter First Name"
                                    required>
                            </div>
                            <div class="col-md-6" style="margin-top: 1.8%;">
                                <label for="">Last Name</label>
                                <input type="text" name="lname" class="form-control" placeholder="Enter Last Name"
                                    required>
                            </div>
                            <div class="col-md-12" style="margin-top: 1.8%;">
                                <label for="">Address</label>
                                <textarea rows="3" name="address" class="form-control"
                                    placeholder="Enter Your Address here" required></textarea>
                            </div>
                            <div class="col-md-6" style="margin-top: 1.8%;">
                                <label for="">Country</label>
                                <select id="country" name="country" class="form-select" required>
                                    <option selected disabled>Select Country</option>
                                </select>
                            </div>
                            <div class="col-md-6" style="margin-top: 1.8%;">
                                <label for="">State</label>
                                <select id="state" name="state" class="form-select" required>
                                    <option selected disabled>Select State</option>
                                </select>
                            </div>
                            <div class="col-md-6" style="margin-top: 1.8%;">
                                <label for="">City</label>
                                <select id="city" name="city" class="form-select" required>
                                    <option disabled selected>Select City</option>
                                </select>
                            </div>
                            <div class="col-md-6" style="margin-top: 1.8%;">
                                <label for="">Pin Code</label>
                                <input type="tel" name="pincode" required class="form-control"
                                    placeholder="Enter Pin Code" required>
                            </div>
                            <div class="col-md-6" style="margin-top: 1.8%;">
                                <label for="">Landmark</label>
                                <input type="text" name="landmark" class="form-control" placeholder="Enter Landmark">
                            </div>
                            <div class="col-md-6" style="margin-top: 1.8%;">
                                <label for="">Phone</label>
                                <input type="tel" name="phone" class="form-control" placeholder="Enter Phone Number"
                                    required>
                            </div>
                            <div style="text-align: center;">
                                <input type="submit" class="btn btn-primary mx-2" style="margin: 1.8%;" value="Add Address">
                                <!--<a href="{% url 'address' %}" class="btn btn-warning mt-3 mx-2" style="width: 14vh;">Cancel</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    const inform = {
        India: {
            Tamilnadu: ["Chennai", "Coimbatore", "Madurai", "Tuticorin", "Tirunelveli"],
            Kerala: ["Thiruvananthapuram", "Malabar", "Thrissur", "Kollam", "Kottayum"],
            Karnataka: ["Bangalore", "Belgaum", "Mysore", "Udupi", "Ballari"],
        },
        USA: {
            California: ["Los Angels", "San Francisco", "San Diego", "San Jose"],
            "New York": ["New York City", "Brookhaven", "Oyster Bay", "Hempstead Town"],
            Texas: ["Houston", "San Antonio", "Dallas", "Austin", "Fort Worth"],
        },
        Brazil: {
            Acre: ["Brasileia", "Bujari", "Senador Guiomard"],
            Alagoas: ["Atalaia", "Pilar", "Arapiraca"],
            Bahia: ["Salvador", "Porto Seguro", "Itabuna"],
        },
    };

    window.onload = function () {
        const countryslt = document.querySelector('#country'),
            stateslt = document.querySelector('#state'),
            cityslt = document.querySelector('#city');

        stateslt.disabled = true;
        cityslt.disabled = true;

        for (let country in inform) {
            countryslt.options[countryslt.options.length] = new Option(country);
        }

        countryslt.onchange = (e) => {
            stateslt.disabled = false;

            stateslt.length = 1;
            cityslt.length = 1;

            for (let state in inform[e.target.value]) {
                stateslt.options[stateslt.options.length] = new Option(state);
            }
        };

        stateslt.onchange = (e) => {
            cityslt.disabled = false;

            cityslt.length = 1;

            let citys = inform[countryslt.value][e.target.value];
            //console.log(citys);

            for (let i = 0; i < citys.length; i++) {
                cityslt.options[cityslt.options.length] = new Option(citys[i]);
            }
        };
    };
</script>

{% endblock content %}