{% extends "extends/base.html" %}
{% block title %}
Favourite | Amazon
{% endblock title %}
{% block content %}
<section style="min-height: 615px;" class="mb-4">
    <div class="container">
        <div class="row ">
            <div class="col-12 my-4">
                <h4 style="color:var(--pri);">Favourite Items</h4>
                <hr>
            </div>
            {% if fav %}
            <table style="text-align: center;">
                <thead>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Amount</th>
                    <th>Remove</th>
                </thead>
                {% for item in fav %}
                {% load static %}
                <tr>
                    <td><a href="{% url 'details' item.product.category.name item.product.name %}">
                            <div class="my-3"><img src="{{item.product.product_image.url}}" style="height: 6rem;;"
                                    alt="{{item.product.name}}"></div>
                        </a></td>
                    <td><a style="text-decoration: none;color: var(--head);"
                            href="{% url 'details' item.product.category.name item.product.name %}">{{item.product.name}}</a>
                    </td>
                    <td>{{item.product.selling_price | stringformat:'d'}}</td>
                    <td><a href="{% url 'remove_fav' item.id %}" onclick="return confirm('Are you sure to delete?')"
                            class="btn btn-danger btn-sm">Remove</a></td>
        </div>

        </tr>
        {% endfor %}
        </table>
        {% else %}
        <div class="container" style="display: flex;justify-content: center;margin-top: 3%;">
            <img src="{% static 'images/fav.jpg' %}" width="250" alt="Your Favourite is Empty...">
        </div>
        <h2 style="text-align: center;color: rgb(106, 106, 106);font-size: 6.5vh;font-weight: 450;margin-top: 3vh;">No Favourites!</h2>
        <div style="text-align: center; margin-top: 3vh;">
            <a href="{% url 'collections' %}" class="btn btn-warning" style="color: rgb(91, 91, 91);">View Products</a>
        </div>
        {% endif %}
    </div>
    </div>
</section>
{% endblock content %}